</div>
</div>

    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
	<script src="//cdn.ckeditor.com/4.15.1/full/ckeditor.js"></script>
	
  <style>
		body{ min-height:100vh; margin:0; position:relative; }
		/* Trick: */

		body::after {
		  content: '';
		  display: block;
		  height: 0px; /* Set same as footer's height */
		}

		footer {
		  position: absolute;
		  bottom: 0;
		  width: 100%;
		  height: 0px;
		}
		
	</style>

  <!-- Footer -->
	<footer id="footer" class="bg-light text-center text-lg-start">
	  
	  <!-- Copyright -->
	  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		
		<p>Copyright © 2021 Student Highway. <em>All rights reserved.</em></p>
	  </div>
	  <!-- Copyright -->
	</footer>
	<!-- Footer -->
</html>